@import "@{templateCommon}/basekit-bootstrap.less";

@mobile-smaller: ~"only screen and (max-width: 380px)";

// MIXINS

.appearance(@appearance: none) {
	-webkit-appearance: @appearance;
	-moz-appearance: @appearance;
	appearance: @appearance;
}

// MAIN

body {
	background-color: @color-swatch1;
	margin: 0;
	padding: 0;
}

.wrapper {
	max-width: 960px;
	width: 90%;
	margin: 0 auto;
}

.main-zone .widget {
	clear: both;
}

.main {
	padding: 2em 0;
}

// TYPOGRAPHY

h1, h2, h3, h4, h5, h6,
[class*="contentgroup__h"],
.blog-post-title a,
blockquote:before,
.widget.image .image-title,
label {
	word-break: break-word;

	.style--light & {
		color: @contrast--light;
	}

	.style--accent & {
		color: @contrast--accent;
	}

	.style--dark & {
		color: @contrast--dark;
	}
}

// Normal Text

.widget {
	p, span, small, pre, code,
	table, th, td,
	&.content {
		color: @font-swatch5-color;
	
		.style--light & {
			color: @contrast--light;
		}
	
		.style--accent & {
			color: @contrast--accent;
		}
	
		.style--dark & {
			color: @contrast--dark;
		}
	}
}

p, ul, ol, li,
.contentgroup__body,
.widget.clicktocall a,
.widget.clicktocall a:hover,
blockquote,
.widget.image .image-description,
.blog-post-published-date {
	word-break: break-word;
	
	.style--light & {
		color: fade(@contrast--light, 90%);
	}

	.style--accent & {
		color: fade(@contrast--accent, 90%);
	}

	.style--dark & {
		color: fade(@contrast--dark, 90%);
	}
}

a {
	.style--light & {
		color: @color--accent;
	}

	.style--accent & {
		color: @contrast--accent;
	}

	.style--dark & {
		color: @color--accent;
	}
}

// Preformatted and Code Text

pre, code {
	display: block;
	margin: 1em 0;
	padding: 0.5em 1em;
	border: none;
	.border-radius(0);
	background-color: darken(@color-swatch1, 10%);
	overflow: auto;
	.paragraph;
	font-family: monospace;

	.style--light & {
		background-color: darken(@color--light, 10%);
	}

	.style--accent & {
		background-color: lighten(@color--accent, 10%);
	}

	.style--dark & {
		background-color: lighten(@color--dark, 10%);
	}
}

code {
	border-left: 1px solid @color-swatch5;

	.style--light & {
		border-color: @color--accent;
	}

	.style--accent & {
		border-color: @contrast--accent;
	}

	.style--dark & {
		border-color: @color--accent;
	}
}

// TABLE

table {
	overflow: auto;
	width: 100%;
	border: none;
	border-collapse: separate;
	border-spacing: 0;
	border-top: 1px solid @font-swatch5-color;
	margin: 0;
	hyphens: auto;

	.style--light & {
		border-top-color: @contrast--light;
	}

	.style--accent & {
		border-top-color: @contrast--accent;
	}

	.style--dark & {
		border-top-color: @contrast--dark;
	}
}

// Table Cell

td, th {
	border: none;
	background-color: transparent;
}

th {
	padding: 0.5em;
	border-bottom: 1px solid @font-swatch5-color;
	text-align: left;
	font-family: @font-swatch4-font-family;
	font-weight: @font-swatch4-font-weight;
	font-size: @font-swatch4-font-size;
	line-height: @font-swatch4-line-height;
	letter-spacing: @font-swatch5-letter-spacing;
	color: @font-swatch4-color;

	.style--light & {
		border-bottom-color: @contrast--light;
		color: @contrast--light;
	}

	.style--accent & {
		border-bottom-color: @contrast--accent;
		color: @contrast--accent;
	}

	.style--dark & {
		border-bottom-color: @contrast--dark;
		color: @contrast--dark;
	}
	
	@media @mobile {
		display: none;
	}
	
	.responsivecolumns .columns-two-left &,
	.responsivecolumns .columns-two-right & {
		@media @tablet-horizontal {
			display: none;
		}
	}
	
	.responsivecolumns .columns-three-left &,
	.responsivecolumns .columns-three-middle &,
	.responsivecolumns .columns-three-right &,
	.responsivecolumns .columns-four-first &,
	.responsivecolumns .columns-four-second &,
	.responsivecolumns .columns-four-third &,
	.responsivecolumns .columns-four-fourth & {
		display: none;
	}
}

td {
	border-bottom: 1px solid fade(@font-swatch5-color, 60%);
	padding: 1em 0.5em;
	font-family: @font-swatch5-font-family;
	font-weight: @font-swatch5-font-weight;
	font-size: @font-swatch5-font-size;
	line-height: @font-swatch5-line-height;
	letter-spacing: @font-swatch5-letter-spacing;

	.style--light & {
		border-bottom-color: fade(@contrast--light, 60%);
	}

	.style--accent & {
		border-bottom-color: fade(@contrast--accent, 60%);
	}

	.style--dark & {
		border-bottom-color: fade(@contrast--dark, 60%);
	}
	
	@media @mobile {
		display: block;
		padding: 0 0.5em;
		border-bottom: none;
	}
	
	&:first-child {
		@media @mobile {
			padding: 1em 0.5em 0;
		}
	}
	
	&:last-child {
		@media @mobile {
			padding: 0 0.5em 1em;
			border-bottom: 1px solid fade(@font-swatch5-color, 60%);

			.style--light & {
				border-bottom-color: fade(@contrast--light, 60%);
			}
		
			.style--accent & {
				border-bottom-color: fade(@contrast--accent, 60%);
			}
		
			.style--dark & {
				border-bottom-color: fade(@contrast--dark, 60%);
			}
		}
	}
	
	.responsivecolumns .columns-two-left &,
	.responsivecolumns .columns-two-right & {
		@media @tablet-horizontal {
			display: block;
			padding: 0 0.5em;
			border-bottom: none;
		}

		&:first-child {
			@media @tablet-horizontal {
				padding: 1em 0.5em 0;
			}
		}

		&:last-child {
			@media @tablet-horizontal {
				padding: 0 0.5em 1em;
				border-bottom: 1px solid fade(@font-swatch5-color, 60%);

				.style--light & {
					border-bottom-color: fade(@contrast--light, 60%);
				}
			
				.style--accent & {
					border-bottom-color: fade(@contrast--accent, 60%);
				}
			
				.style--dark & {
					border-bottom-color: fade(@contrast--dark, 60%);
				}
			}
		}
	}
	
	.responsivecolumns .columns-three-left &,
	.responsivecolumns .columns-three-middle &,
	.responsivecolumns .columns-three-right &,
	.responsivecolumns .columns-four-first &,
	.responsivecolumns .columns-four-second &,
	.responsivecolumns .columns-four-third &,
	.responsivecolumns .columns-four-fourth & {
		display: block;
		padding: 0 0.5em;
		border-bottom: none;

		&:first-child {
			padding: 1em 0.5em 0;
		}

		&:last-child {
			padding: 0 0.5em 1em;
			border-bottom: 1px solid fade(@font-swatch5-color, 60%);

			.style--light & {
				border-bottom-color: fade(@contrast--light, 60%);
			}
		
			.style--accent & {
				border-bottom-color: fade(@contrast--accent, 60%);
			}
		
			.style--dark & {
				border-bottom-color: fade(@contrast--dark, 60%);
			}
		}
	}
}

tr:last-child td {
	border-bottom: 1px solid @font-swatch5-color;

	.style--light & {
		border-bottom-color: @contrast--light;
	}

	.style--accent & {
		border-bottom-color: @contrast--accent;
	}

	.style--dark & {
		border-bottom-color: @contrast--dark;
	}
	
	@media @mobile {
		border-bottom: none;
	}
	
	&:last-child {
		@media @mobile {
			border-bottom: 1px solid @font-swatch5-color;

			.style--light & {
				border-bottom-color: @contrast--light;
			}
		
			.style--accent & {
				border-bottom-color: @contrast--accent;
			}
		
			.style--dark & {
				border-bottom-color: @contrast--dark;
			}
		}
	}
	
	.responsivecolumns .columns-two-left &,
	.responsivecolumns .columns-two-right & {
		@media @tablet {
			border-bottom: none;
		}

		&:last-child {
			@media @tablet {
				border-bottom: 1px solid @font-swatch5-color;

				.style--light & {
					border-bottom-color: @contrast--light;
				}
			
				.style--accent & {
					border-bottom-color: @contrast--accent;
				}
			
				.style--dark & {
					border-bottom-color: @contrast--dark;
				}
			}
		}
	}
	
	.responsivecolumns .columns-three-left &,
	.responsivecolumns .columns-three-middle &,
	.responsivecolumns .columns-three-right &,
	.responsivecolumns .columns-four-first &,
	.responsivecolumns .columns-four-second &,
	.responsivecolumns .columns-four-third &,
	.responsivecolumns .columns-four-fourth & {
		border-bottom: none;

		&:last-child {
			border-bottom: 1px solid @font-swatch5-color;

			.style--light & {
				border-bottom-color: @contrast--light;
			}
		
			.style--accent & {
				border-bottom-color: @contrast--accent;
			}
		
			.style--dark & {
				border-bottom-color: @contrast--dark;
			}
		}
	}
}

// DEFAULT PAGE TYPE

.bk-pt-default header.bk-header {
	border-bottom: 1px solid @color-swatch2;
}

// HEADER

header.bk-header {
	padding: 16px 0;
	background-color: @color-swatch1;
	border-bottom: 1px solid lighten(@color-swatch3, 20%);
}

.companyheader {
	display: table;
	float: left;
	padding: 7px 0 0;
}

// COMPANY NAME

.widget.companyname {
	display: table-cell;
	vertical-align: middle;
	padding-left: 10px;

	a {
		color: @font-swatch10-color;

		@media @mobile {
			font-size: @font-swatch9-font-size;
		}
	}
}

// LOGO

.widget.logo {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}


// FOOTER

footer.bk-footer {
	background-color: @color-swatch2;
	padding: 4em 0;
	color: @color-swatch4;

	.widget.profile {
		form {
			margin: 0;
			padding: 0 0 20px;
		}

		.form-group {
			display: block;
		}

		form fieldset input {
			min-width: 100%;
		}

		form button {
			word-break: break-word;
			width: auto;
			margin: 10px 0 0;
			line-height: 1.25em;
			min-height: 50px;
		}
	}
	
	h1,
	h2,
	h3,
	h4 {
		padding: 30px 0 20px;
		color: @color-swatch4;
	}
	
	p {
		color: @color-swatch4;
	}
}

.gdpr-footer {
	background-color: darken(@color-swatch2, 5%);
	padding: 10px;
	
	&__link {
		color: @color-swatch4;
		font-family: @font-swatch5-font-family;
		font-size: @font-swatch5-font-size;
		font-weight: @font-swatch5-font-weight;
		line-height: @font-swatch5-line-height;
		letter-spacing: @font-swatch5-letter-spacing;
		padding: 5px 10px;
	}
}

// Language Selector

@language-padding: 0.5em;
@language-line-height: @font-swatch7-line-height;

// General styles

.language-selector {
	&.language-selector--horizontal,
	&.language-selector--dropdown {
		z-index: 200;
		position: relative;
		box-sizing: content-box;
		width: auto;
	}

	&.language-selector--light {
		background-color: @color-swatch1;
		
		@media @mobile {
  			box-shadow: none;
		}
	}

	&.language-selector--dark {
		background-color: @color-swatch4;
		
		@media @mobile {
  			box-shadow: none;
		}
	}
	
	&.language-selector--dropdown {
		height: auto;
		text-align: left;
	}

	.language-selector__inner,
	.language-selector__list,
	.language-selector__item,
	.language-selector__link,
	.language-selector__name,
	.language-selector__localised-name {
		font-family: @font-swatch7-font-family;
		font-size: @font-swatch7-font-size;
		font-weight: @font-swatch7-font-weight;
		line-height: @language-line-height;
		letter-spacing: @font-swatch7-letter-spacing;
		color: @font-swatch7-color;
	}
}
	
// Inner

.language-selector__inner {
	.language-selector & {
	   box-sizing: content-box;
		padding: @language-padding;
		max-width: 960px;
		width: 90%;
		margin: 0 auto;
	}
	
	.language-selector.language-selector--horizontal & {
		padding: @language-padding @language-padding 0;
	}

	.language-selector.language-selector--dropdown & {
		&:before {
		   content: "";
		 display: block;
			height: @language-line-height;
		}

		&:after {
		   content: "";
		 display: block;
		   height: @language-padding*2;
		}

		@media @mobile {
			width: 100%;
		}
	}
}
	
// List

.language-selector__list {
	.language-selector & {
		min-width: auto;
	}
	
	.language-selector.language-selector--dropdown & {
		box-sizing: border-box;
		margin: @language-padding;
		min-width: auto;
		max-width: ~"calc(100% - 1em)";
		
		@media @tablet {
			margin: 0;
			padding: @language-padding;
			max-width: 100%;
		}
		
		@media @mobile {
			width: 100%;
		}
	}
	
	.language-selector.language-selector--dropdown.language-selector--flag & {
		@media @mobile {
			width: auto;
		}
	}
}
	
// Item

.language-selector__item {
	.language-selector.language-selector--light &,
	.language-selector.language-selector--dark & {
		cursor: pointer;
		position: relative;
		border: none;
		background-color: transparent;
		width: auto;
		max-width: 100%;
		-webkit-transition: .2s;
		-moz-transition: .2s;
		-ms-transition: .2s;
		transition: .2s;
		
		.language-selector--horizontal& {
			margin: 0 0 @language-padding @language-padding;
		}
	}
	
	// Link Color
	
	.language-selector.language-selector--horizontal & {
		.language-selector--light&,
		.language-selector--dark& {
			background-color: @font-swatch7-background-color;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			
			&:hover {
				background-color: @font-swatch7-background-color-hover;
			}
			
			&--current {
				background-color: darken(@font-swatch7-background-color-hover, 20%);
				
				&:hover {
					background-color: @font-swatch7-background-color-hover;
				}
			}
		}
	}

	.language-selector.language-selector--dropdown & {
		.language-selector--light&,
		.language-selector--dark& {
			&, &--current {
				background-color: @font-swatch7-background-color;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				
				&:hover {
					background-color: @font-swatch7-background-color-hover;
				}
			}
		}
	}
	
	// Current Item
	
	&--current {
		&:before {
			.language-selector.language-selector--dropdown & {
				position: absolute;
				content: "\25be";
				top: 50%;
				right: -1px;
				margin-top: -(@language-line-height/4);
				width: @language-padding*4;
				background-color: transparent;
				line-height: @language-line-height/2;
				font-size: fade(@color-swatch7, 20%);
				color: fade(@color-swatch7, 20%);
				text-align: center;
			}
		}

		&:after {
			.language-selector.language-selector--dropdown & {
				position: absolute;
				content: "\25be";
				top: 50%;
				right: 0;
				margin-top: -(@language-line-height/4);
				width: @language-padding*4;
				background-color: transparent;
				line-height: @language-line-height/2;
				font-size: @font-swatch7-font-size;
				color: @font-swatch7-color;
				text-align: center;
			}
		}
	}
}

// Link

.language-selector__link {
	.language-selector & {
		box-sizing: border-box;
		padding: 0 @language-padding*2;
		border: none;
		hyphens: auto;
	}
	
	// Horizontal - Item
	
	.language-selector.language-selector--horizontal & {
		text-align: right;
		display: inline-block;
	}
	
	// Dropdown - Item
	
	.language-selector.language-selector--dropdown & {
		padding-right: @language-padding*4;
	}
	
	// Link Color
	
	.language-selector.language-selector--horizontal &,
	.language-selector.language-selector--horizontal .language-selector__item--current &,
	.language-selector.language-selector--dropdown &,
	.language-selector.language-selector--dropdown .language-selector__item--current & {
		.language-selector--light&,
		.language-selector--dark& {
			&,
			&:hover {
				background-color: transparent;
			}
		}
	}
}

// Icon

.language-selector__icon {
	.language-selector & {
		margin-right: 0;
		padding: @language-padding 0;
		min-height: @language-line-height;
		box-sizing: content-box;
		line-height: @language-line-height;
	}
	.language-selector.language-selector--flag-text & {
		margin: 0;
	}
	.language-selector.language-selector--dropdown.language-selector--flag-text & {
		float: left;
		box-sizing: border-box;
		line-height: @language-line-height;
	}
}

// Name

.language-selector__name,
.language-selector__localised-name {
	.language-selector & {
		-webkit-font-smoothing: auto;
		-moz-osx-font-smoothing: auto;
		font-smooth: auto;
		text-rendering: auto;
	}
	
	.language-selector & {
		text-shadow: 0 1px 1px fade(@color-swatch7, 50%);
	}
	
	.language-selector.language-selector--flag-text & {
		display: inline-block;
		padding: @language-padding 0 @language-padding @language-padding;
	}

	.language-selector.language-selector--text &,
	.language-selector.language-selector--flag & {
		padding: @language-padding 0;
	}

	.language-selector.language-selector--text & {
		display: block;
	}
	
	.language-selector.language-selector--dropdown & {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		
		.language-selector--flag-text& {
			@media @mobile-smaller {
				display: none;
			}
		}
	}
}

// NAVIGATION

.header.bk-header {
	.clearfix;
}

.widget.navigation,
.widget.extendednavigation {
	float: right;
	position: relative;
	margin: 5px 0 0;

	@media @tablet {
		float: none;
		.clearfix;
		top: 0;
		margin: 25px 0 7px 0;
		width: 100%;
		padding: 0;
	}

	body.edit & {
		overflow: visible;
	}

	a.pull {
		top: 0px;
	}

	ul {
		margin: 0;
		padding: 0;

		@media @tablet { 
			width: 100%;
			display: none;
			border-top: 1px solid @color-swatch2;
			margin: 40px 0 0;
		}

		&.align-right li {
			&:hover ul li {
				@media @mobile { 
					text-align: right;
				}
			}
	
			&.folder {
				@media @mobile { 
					background-position: 12px center;
				}
			}
		}

		&.align-left li {
			&:hover ul li {
				@media @mobile { 
					text-align: left;
				}
			}
		}

		&.align-center li {
			&:hover ul li {
				@media @mobile { 
					text-align: center;
				}
			}
		}
	
		li {
			float: left;
			display: block;

			@media @tablet { 
				width: 100%;
				padding: 0;
				border-bottom: 0;
			}
	
			a,
			&.folder .text {
				display: block;
				padding: 10px 24px;
				font-family: @font-swatch6-font-family;
				font-size: @font-swatch6-font-size;
				font-weight: @font-swatch6-font-weight;
				color: @font-swatch6-color;
				line-height: @font-swatch6-line-height;
				letter-spacing: @font-swatch6-letter-spacing;
			}
			
			a:hover,
			&.folder .text:hover {
				color: @font-swatch6-color-hover;
				text-decoration: none;
			}
		
			// FOLDER
			
			&.folder {
				margin-right: 0;
				padding-right: 21px;
			
				&:hover {
					background-color: @color-swatch2;
				}
			
				.text:hover {
					color: @color-swatch4;
				}
				
				&:after {
					right: 26px;
				}
			}
			
			&:hover > ul {
				display: block;
				position: absolute;
				width: 56%;
				background-color: @color-swatch2;
				z-index: 500;
				padding: 0;
				margin: 0;

				@media @tablet { 
					display: block!important;
					width: 100%;
					border-top: 1px solid darken(@color-swatch2, 10%);
					margin: 0;
				}
			}
		}
	}
	
	li.selected {
		a, .text {
			color: @font-swatch6-color-hover;
		}
	}
	
	// DROPDOWN MENU
	
	li > ul {
		display: none;
	}
	
	li:hover > ul li {
		display: block;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	
		&:hover {
			background-color: darken(@color-swatch2, 10%);
		}
		
		a {
			padding: 0
		}
	}
}

// FEATURE

.widget.feature {
	.feature-bgimg {
		height: 550px;
		background-color: lighten(@color-swatch7,4%);

		@media @mobile { 
			height: 300px
		}
	
		.content {
			min-height: 450px;
			text-align: center;
		
			@media @tablet {
				padding: 20px 0 40px 0;
			}

			@media @mobile { 
				min-height: 300px
			}
	
			// Title
			
			h2 {
				font-family: @font-swatch8-font-family;
				font-size: @font-swatch8-font-size;
				font-weight: @font-swatch8-font-weight;
				line-height: @font-swatch8-line-height;
				color: @font-swatch8-color;
				letter-spacing: @font-swatch8-letter-spacing;
				padding-top: 1em;
				padding-bottom: 0;

				@media @mobile { 
					font-size: bkscale(@font-swatch8-font-size,0.7);
					line-height: bkscale(@font-swatch8-line-height,0.8);
				}
			}
			
			// Strapline
			
			h3 {
				font-family: @font-swatch9-font-family;
				font-size: @font-swatch9-font-size;
				font-weight: @font-swatch9-font-weight;
				line-height: @font-swatch9-line-height;
				color: @font-swatch9-color;
				letter-spacing: @font-swatch9-letter-spacing;
				padding-top: 1em;
				font-style: italic;
			}

			// Button
			
			button {
				margin: 1em 0 3em;

				@media @mobile { 
					font-size: .8em;
					padding: 5px 10px;
				}
			}
		}
	}
}

// CONTENT

.widget.content {
	padding: 0;
	overflow: hidden;

	span.expand {
		font-family: @font-swatch3-font-family;
		background-color: @color-swatch3;
		color: @font-swatch7-color;
		font-size: @font-swatch5-font-size;
		padding: 4px 8px;
		margin: 4px 0;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		cursor: pointer;
		display: inline-block;
	
		&:hover,
		&:focus {
			cursor: pointer;
			background-color: darken(@color-swatch3,5%);
		}
	}
}

// BLOCKQUOTE

blockquote {
	background-color: darken(@color-swatch1, 5%);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid @color-swatch2;

	.style--light & {
		background-color: darken(@color--light, 5%);
		border-color: darken(@color--light, 10%);
	}

	.style--accent & {
		background-color: darken(@color--accent, 5%);
		border-color: darken(@color--accent, 10%);
	}

	.style--dark & {
		background-color: lighten(@color--dark, 5%);
		border-color: darken(@color--dark, 10%);
	}

	&:before {
		content:open-quote;
		left: 10px;
		top: 18px;
		font-family: georgia;
		color: @color-swatch3;

		.style--light & {
			color: @color--accent;
		}

		.style--accent & {
			color: @color--light;
		}

		.style--dark & {
			color: @color--accent;
		}
	}
}

// LINE

.widget.line {
	padding: 10px 0
}

hr.line {
	background-color: @color-swatch2;
	height: 1px;
	width: 100%;
	border: none;

	.style--light & {
		background-color: darken(@color--light, 12%);
	}

	.style--accent & {
		background-color: darken(@color--accent, 12%);
	}

	.style--dark & {
		background-color: lighten(@color--dark, 15%);
	}

	&.align-left {
		margin: 20px auto 20px 0px
	}
	
	&.align-center {
		margin: 20px auto
	}
	
	&.align-right {
		margin: 20px 0px 20px auto
	}
}

// CLICK TO CALL

.widget.clicktocall {
	padding: 8px 0;

	a {
		background-image: image('/images/ic-call-desktop.svg');
		background-size: 7px;
		background-position: left center;
		background-repeat: no-repeat;
		padding: 4px 0 4px 18px;
		font-family: @font-swatch5-font-family;
		font-size: @font-swatch5-font-size;
		font-weight: @font-swatch5-font-weight;
		line-height: @font-swatch5-line-height;
		color: @font-swatch4-color;
		letter-spacing: @font-swatch5-letter-spacing;
		text-decoration: none;

		@media @mobile { 
			background-image: image('/images/ic-call.svg');
			background-size: 7px;
			background-position: 14px center;
			background-repeat: no-repeat;
			background-color: @font-swatch7-background-color;
			font-family: @font-swatch7-font-family;
			font-size: .75em;
			font-weight: @font-swatch7-font-weight;
			line-height: @font-swatch7-line-height;
			color: @font-swatch7-color;
			letter-spacing: @font-swatch7-letter-spacing;
			background-color: @font-swatch7-background-color;
			padding: 12px 12px 12px 34px;
			border: none;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			text-decoration: none;
			text-transform: uppercase;
			text-shadow: 0 1px 1px fade(@color-swatch7, 50%);
		}
	
		&:hover {
			cursor: pointer;

			@media @mobile { 
				background-color: @font-swatch7-background-color-hover;
				cursor: pointer;
			}
		}
		
		&:active {
			box-shadow: inset 0 2px 3px rgba(0,0,0,0.1)
		}
	
		.style--light & {
			color: @contrast--light;
		}
	
		.style--accent & {
			color: @contrast--accent;
		}
	
		.style--dark & {
			color: @contrast--dark;
		}
		
		&.justifyleft {
			text-align: left
		}
		
		&.justifycenter {
			text-align: center
		}
		
		&.justifyright {
			text-align: right
		}
		
		&.justifyfull {
			text-align: justify
		}
		
		&.italic {
			font-style: italic
		}
		
		&.bold {
			font-weight: bold
		}
	}
}

// TWITTER FULL

.widget.twitter a,
.widget.twitter ul li a,
.widget.twitter ul li span a,
.widget.twitter time {
	color: @font-swatch6-color-hover;
	font-family: @font-swatch5-font-family;
	text-decoration: none;

	.style--light & {
		color: @color--accent;
	}

	.style--accent & {
		color: @color--light;
	}

	.style--dark & {
		color: @color--accent;
	}

	&:hover {
		text-decoration: none;
		border-bottom: 1px solid @color-swatch3;

		.style--light & {
			color: @color--accent;
		}

		.style--accent & {
			color: @color--light;
		}

		.style--dark & {
			color: @color--accent;
		}
	}
}

.widget.twitter {
	ul {
		padding: 0px;
		margin: 0;

		p {
			font-size: @font-swatch5-font-size;
		}

		a {
			font-family: @font-swatch5-font-family;
			text-decoration: none;
		}

		time {
			font-size: @font-swatch5-font-size;
		}
		
		li {
			border-bottom: none;
			list-style: none;
			font-family: @font-swatch5-font-family;
			font-size: @font-swatch5-font-size;
			color: @font-swatch5-color;
			padding-bottom: 30px;
		
			.style--light & {
				color: fade(@color--dark, 90%);
			}
		
			.style--accent & {
				color: fade(@color--light, 90%);
			}
		
			.style--dark & {
				color: fade(@color--light, 90%);
			}
		
			img {
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
			}
			
			&:last-child {
				padding-bottom: 0px
			}
		}
	}

	.widget.profile & ul.twitter {
		padding: 0px;
		margin: 0px;
	
		li {
			list-style: none
		}
		
		img,
		time,
		span {
			display: none
		}
	}

	.twitter-profile-pic {
		float: left;
		margin-right: 20px;
	
		@media @mobile {
			display: none;
		}
	
		a:hover {
			border-bottom: 0;
		}
	}
	
	.twitter-content span.bk-full-name {
		font-family: @font-swatch4-font-family;
		color: @color-swatch3;
		font-weight: bold;
	
		.style--light & {
			color: @color--accent;
		}
	
		.style--accent & {
			color: @color--light;
		}
	
		.style--dark & {
			color: @color--accent;
		}
	}
}

// FORMS

.form-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 1em;

	@media @mobile {
		display: block;
	}

	.responsivecolumns & {
		display: block;
	}
}

label {
	font-family: @font-swatch5-font-family;
	font-size: @font-swatch5-font-size;
	font-weight: @font-swatch5-font-weight;
	line-height: @font-swatch5-line-height;
	color: @font-swatch5-color;
	letter-spacing: @font-swatch5-letter-spacing;

	.contactform &,
	.advancedcontactform & {
		display: block;
		margin-bottom: 5px;
	}

	.style--light & {
		color: fade(@color--dark, 90%);
	}

	.style--accent & {
		color: fade(@color--light, 90%);
	}

	.style--dark & {
		color: fade(@color--light, 90%);
	}
}

// Input, Textarea

input,
textarea,
select {
	background-color: darken(@color-swatch1, 5%);
	border: 1px solid @color-swatch2;
	font-family: @font-swatch5-font-family;
	font-size: @font-swatch5-font-size;
	color: @font-swatch5-color;
	padding: 5px 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-height: 50px;
	width: 100%;

	.style--light & {
		background-color: darken(@color--light, 5%);
		border-color: darken(@color--light, 10%);
		color: fade(@contrast--light, 10%);
	}

	.style--accent &,
	.style--dark & {
		background-color: @color--light;
		border-color: darken(@color--light, 5%);
		color: fade(@contrast--light, 10%);
	}
}

input {
	margin-bottom: 0;
}

textarea {
	height: 100px;
	padding-top: 14px;
	resize: none;
}

// Dropdowns

.select-wrap {
	max-width: 50%;

	@media @mobile {
		max-width: 100%;
	}
}

select {
	background-color: @color-swatch1;
	border: 1px solid @color-swatch6;
	padding-right: 2.2em;
	width: 100%;
	.appearance(none) !important;
	background-image: url("data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNCAyNCI+Cgk8cG9seWxpbmUgc3Ryb2tlPSIjNzY3ODgwIiBmaWxsPSJub25lIiBzdHJva2Utd2lkdGg9IjMiIHBvaW50cz0iMjAuMSw4LjYgMTIsMTYuNyAzLjksOC42IiAvPgo8L3N2Zz4=");
	background-repeat: no-repeat;
	background-position: right 0.5em center;
	background-size: 1.2em;

	&::-ms-expand {
		display: none;
	}
}

// Radiobuttons and Checkboxes

.widget .form .option-list {
	margin-top: 1em;
	margin-bottom: 2em;

	.option-item--radio,
	.option-item--checkbox {
		position: relative;
		width: 100%;
		margin-bottom: @font-swatch5-line-height / 2;
		padding: 0;
		min-height: @font-swatch5-line-height;
	}
}

.widget.advancedcontactform .form-group.advancedcontactform__form-group--terms,
.widget.contactform .form-group.contactform__form-group--terms,
.widget.signupform .form-group.signupform__form-group--terms,
footer.bk-footer .widget.profile .form-group.profile__form-group.profile__form-group--terms {
	position: relative;
	margin-top: 1em;
	margin-bottom: 1em;
}

.widget .form .option-list,
.widget .form-group[class*="form-group--terms"] {
	input[type="radio"],
	input[type="checkbox"] {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: floor(@font-swatch5-line-height*0.8+2) !important;
		height: 100% !important;
		margin: 0 !important;
		padding: 0 !important;
		bottom: 0;

		&:checked + label:after {
			opacity: 1;
		}
	}

	.label--radio,
	.label--checkbox,
	label[for*="input--terms"] {
		display: block;
		position: relative;
		cursor: pointer;
		padding-left: 2em;
		margin-bottom: 0;
		word-break: break-word;
		text-align: left;
		text-transform: none;

		span a.form__link {
			font-family: @font-swatch5-font-family;
			font-weight: @font-swatch5-font-weight;
			font-size: @font-swatch5-font-size;
			line-height: @font-swatch5-line-height;
			letter-spacing: @font-swatch5-letter-spacing;
		}

		.style--light & {
			color: @contrast--light;
		}

		.style--accent & {
			color: @contrast--accent;
		}

		.style--dark & {
			color: @contrast--dark;
		}
			
		&:before,
		&:after {
			cursor: pointer;
			display: block;
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
		}

		&:before {
			min-width: 0;
			margin-top: floor(@font-swatch5-line-height*0.1);
			height: floor(@font-swatch5-line-height*0.8);
			width: floor(@font-swatch5-line-height*0.8);
			background-color: @color-swatch1;
			border: 1px solid @font-swatch7-background-color;

			.style--light & {
				border-color: @color--accent;
			}

			.style--accent & {
				border-color: @color--dark;
			}

			.style--dark & {
				border-color: @color--accent;
			}
		}

		&:after {
			opacity: 0;
			width: floor(@font-swatch5-line-height*0.8);
		}
	}

	.label--radio {
		&:before {
			border-radius: 50%;
		}
		
		&:after {
			border-radius: 50%;
			background-color: @font-swatch7-background-color;
			border: 1px solid @font-swatch7-background-color;
			margin-top: floor(@font-swatch5-line-height*0.1);
			height: floor(@font-swatch5-line-height*0.8);
			transform: scale(50%);

			.style--light & {
				background-color: @color--accent;
				border: 1px solid @color--accent;
			}

			.style--accent & {
				background-color: @color--dark;
				border: 1px solid @color--dark;
			}

			.style--dark & {
				background-color: @color--accent;
				border: 1px solid @color--accent;
			}
		}
	}

	.label--checkbox,
	label[for*="input--terms"] {
		&:after {
			margin-top: floor(@font-swatch5-line-height*-0.2+1);
			height: floor(@font-swatch5-line-height*1.2);
			border: 1px solid transparent;
			box-shadow: -6px -6px 0 0 inset @font-swatch7-background-color;
			transform: scale(50%) rotate(45deg);

			.style--light & {
				box-shadow: -6px -6px 0 0 inset @color--accent;
			}

			.style--accent & {
				box-shadow: -6px -6px 0 0 inset @color--dark;
			}

			.style--dark & {
				box-shadow: -6px -6px 0 0 inset @color--accent;
			}
		}
	}
	
	label[for*="input--terms"] span a.form__link {
		text-decoration: underline;
		border: none;
	}
}

// Button

button,
button.btn,
.widget.button button,
.contactform button,
.contactform button.btn,
.signupform fieldset button,
.signupform fieldset button.btn,
.advancedcontactform button,
.advancedcontactform button.btn,
.widget.profile form button,
.widget.paypalbuynow .widget.button.paypal,
.widget.dropbox button,
.blog-search-submit-button,
.blog-list-footer .paginate-older,
.ecom-productslist-products .productlist-search .btn,
.widget.ecomproduct .ecom-product .btn,
.widget.ecomcheckout .checkout-order-button,
.widget.ecombasket .ecombasket-pull,
.widget.ecombasket .ecombasket-list-container .ecombasket-checkout-wrap .ecombasket-checkout-link,
.widget.ecombasketsummary .basket-summary-continue-shopping,
.widget.ecombasketsummary .basket-summary-submit,
.widget.feature .feature-bgimg .content button,
.widget.tweet a,
.widget.socialicons span a,
.widget.clicktocall a,
.blog-post-more-link a,
.widget.ecomcategorieslist ul li a,
.widget.yelpreview .review-body .review-link a,
a.contentgroup__link {
	display: block;
	padding: 8px 25px;
	margin: 0;
	border: none;
	min-height: 50px;
	min-width: 150px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 1px 1px fade(@color-swatch7, 50%);
	font-family: @font-swatch7-font-family;
	font-size: @font-swatch7-font-size;
	font-weight:@font-swatch7-font-weight;
	line-height: @font-swatch7-line-height;
	letter-spacing: @font-swatch7-letter-spacing;
	background-color: @font-swatch7-background-color;
	color: @font-swatch7-color;

	.style--light & {
		background-color: @color--accent;
		color: @contrast--accent;
		text-shadow: 0 1px 1px darken(@color--accent, 10%);
	}

	.style--accent & {
		background-color: @color--dark;
		color: @contrast--dark;
		text-shadow: 0 1px 1px darken(@color--dark, 10%);
	}

	.style--dark & {
		background-color: @color--accent;
		color: @contrast--accent;
		text-shadow: 0 1px 1px darken(@color--accent, 10%);
	}

	&:hover {
		background-color: darken(@color-swatch3,2%);
		cursor: pointer;

		.style--light & {
			background-color: darken(@color--accent, 5%);
		}

		.style--accent & {
			background-color: lighten(@color--dark, 5%);
		}

		.style--dark & {
			background-color: darken(@color--accent, 5%);
		}
	}
}

// Placeholders

select::-webkit-input-placeholder,
input::-webkit-input-placeholder {
	.style--light &,
	.style--accent &,
	.style--dark & {
		color: fade(@contrast--light, 80%);
	}
}

select:-moz-placeholder,
input:-moz-placeholder {
	.style--light &,
	.style--accent &,
	.style--dark & {
		color: fade(@contrast--light, 80%);
	}
}

select::-moz-placeholder,
input::-moz-placeholder {
   	.style--light &,
	.style--accent &,
	.style--dark & {
		color: fade(@contrast--light, 80%);
	}
}

select:-ms-input-placeholder,
input:-ms-input-placeholder {
   	.style--light &,
	.style--accent &,
	.style--dark & {
		color: fade(@contrast--light, 80%);
	}
}

// TWITTER

.widget.tweet {
	padding: 9px 0;

	a {
		border-radius: 3px;
		text-shadow: 0 1px 1px fade(@color-swatch7, 50%);
		text-transform: uppercase;
		min-height: 50px;
		display: inline-block;
		padding: 11px 20px 11px 55px;
		background-position: 20px;
	
		.style--light & {
			text-shadow: 0 1px 1px darken(@color--accent, 10%);
		}
	
		.style--accent & {
			text-shadow: 0 1px 1px darken(@color--light, 10%)
		}
	
		.style--dark & {
			text-shadow: 0 1px 1px darken(@color--accent, 10%);
		}
	}
}

// SOCIAL BAR AND SOCIAL PROFILE

.widget.socialicons,
.widget.profile .bk-profile-socialicons {
	margin: 0;
	padding: 6px 0;
	font-size: 1em;
	font-family: @font-swatch7-font-family;

	a {
		text-decoration: none;
		white-space: nowrap;
		text-indent: 9999px;
		overflow: hidden;
	}

	span a {
		display: inline-block;
		margin-right: 6px;
		margin-bottom: 8px;
		background-size: 18px;
		width: 32px;
		height: 32px;
		background-color: @font-swatch7-background-color;
		background-repeat: no-repeat;
		background-position: center;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		text-decoration: none;
		text-shadow: 0 1px 1px fade(@color-swatch7, 50%);
		text-indent: 9999px;
		overflow: hidden;
	
		.style--light & {
			background-color: @color--accent;
			color: @contrast--accent;
			text-shadow: 0 1px 1px darken(@color--accent, 10%);
		}
	
		.style--accent & {
			background-color: @color--dark;
			color: @contrast--dark;
			text-shadow: 0 1px 1px darken(@color--dark, 10%);
		}
	
		.style--dark & {
			background-color: @color--accent;
			color: @contrast--accent;
			text-shadow: 0 1px 1px darken(@color--accent, 10%);
		}
	}

	// Icons
	
	span.bk-socialicons-twitter {
		background-image: image('/images/social/socialicons-twitter.png');
		background-image: image('/images/social/socialicons-twitter.svg');
	}
	
	span.bk-socialicons-linkedin {
		background-image: image('/images/social/socialicons-linkedin.png');
		background-image: image('/images/social/socialicons-linkedin.svg');
	}
	
	span.bk-socialicons-facebook a {
		background-image: image('/images/social/socialicons-facebook.png');
		background-image: image('/images/social/socialicons-facebook.svg');
	}
	
	span.bk-socialicons-rss a {
		background-image: image('/images/social/socialicons-rss.png');
		background-image: image('/images/social/socialicons-rss.svg');
	}
	
	span.bk-socialicons-googleplus a {
		background-image: image('/images/social/socialicons-googleplus.png');
		background-image: image('/images/social/socialicons-googleplus.svg');
	}
	
	span.bk-socialicons-youtube a {
		background-image: image('/images/social/socialicons-youtube.png');
		background-image: image('/images/social/socialicons-youtube.svg');
	}
}

.widget.profile .bk-profile-socialicons span {
	display: inline-block;

	a {
		background-color: @font-swatch7-background-color;
	}
}

.widget.socialicons span a:hover,
.widget.profile 
.bk-profile-socialicons span a:hover {
	background-color: @font-swatch7-background-color-hover;

	.style--light & {
		background-color: darken(@color--accent, 5%);
	}

	.style--accent & {
		background-color: lighten(@color--dark, 5%);
	}

	.style--dark & {
		background-color: darken(@color--accent, 5%);
	}
}

// PROFILE

.widget.profile span,
.widget.profile a {
	display: block;
	font-size: @font-swatch5-font-size;
	font-family: @font-swatch5-font-family;
	color: @font-swatch5-color;
	line-height: @font-swatch5-line-height;
	font-weight: @font-swatch5-font-weight;
}

.widget.profile a {
	color: @color-swatch3;

	&:hover {
		color: darken(@color-swatch3, 10%);
		text-decoration: none;
	}
}

// FOOTER PROFILE - SIGNUP FORM

.widget.profile form {
  	padding: 0 0 20px;

	fieldset {
		padding: 0;
		border: 0;
		margin: 0;
	}
	
	input:focus {
		outline: none;
	}
	
	button:hover {
		background-color: @font-swatch7-background-color-hover;
		cursor: pointer;
	}

	footer.bk-footer .footer2 & {
		  padding: 0 0 8px;
	}
}

// SIGNUP FORM

.widget.signupform {
  	padding: 0px;

	fieldset {
		padding: 0;
		border: 0;
		margin: 0;
	}
	
	label {
		float: left;
		width: 100%;
		margin-bottom: 4px;
	}
	
	fieldset input {
		width: 70%;
		margin-right: 1%;
		flex-grow: 1;
	
		@media @mobile {
			margin-bottom: 10px;
			margin-right: 0;
			width: 100%;
		}
	
		.responsivecolumns & {
			margin-bottom: 10px;
			margin-right: 0;
			width: 100%;
		}
	
		&:focus {
			outline: none;
		}
	}
}

// GALLERY

.widget.gallery {
	.image-data {
		padding: 25px;
		text-align: center;
		background-color: fade(@color-swatch3, 50%);
		
		&:hover {
			opacity: 1;
		}
	}

	.title,
	.description {
		color: @color-swatch1;
	}
	
	li span.inner {
		.title,
		.description {
			@media @tablet { 
				font-size:bkscale(@font-swatch5-font-size,0.9);
				line-height:bkscale(@font-swatch5-line-height,0.9);
			}

			@media @mobile { 
				max-height: 150px;
			}
		}
	}
	
	ul.gallery-widget li {
		@media @mobile { 
			width: 50%;
			padding-bottom: 50%;
		}
	}
}

// SLIDESHOW

.widget.responsiveslideshow {
	.slideshow-image-list,
	.slideshow-widget {
		min-height: 450px;

		@media @tablet {
			min-height: 350px;
		}

		@media @mobile {
			min-height: 280px;
			height: 280px;
		}
	}

	.title {
		display: block;
	}

	.content-wrapper {
		background: rgba(0,0,0,0.5);
	}

	.slideshow-widget {

		// Arrows

		.btn-prev,
		.btn-next {
			font-size: 0;
			z-index: 11;
			text-indent: -99999px;
			width: 40px;
			height: 40px;
			background: rgba(0,0,0,0.5);
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;

			@media @tablet {
				width: 30px;
				height: 30px;
			}
		}

		.btn-prev {
			&:after {
				content: "\2190";
				color: @font-swatch7-color;
				top: 7px;

				@media @tablet {
					top: 1px!important;
				}
			}
		}

		.btn-next {
			&:after {
				content: "\2192";
				color: @font-swatch7-color;
				top: 7px;

				@media @tablet {
					top: 1px!important;
				}
			}
		}

		// Play Button

		.btn-play {
			top: 40%;
			width: 50px;
			height: 50px;
			background: rgba(0,0,0,0.5);
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;

			&:after {
				color: @font-swatch7-color;
				letter-spacing: -4px;
				top: 2px;
				line-height: 51px;
			}

			@media @tablet {
				top: 43%;
				width: 40px;
				height: 40px;
				&:after {
					line-height: 38px;
					font-size: 26px;
				}
			}

			@media @mobile {
				top: 41%;
			}
		}
	}

	// Slideshow Controls

	.slideshow-widget-controls {
		.dot {
			width: 6px;
			height: 6px;
			margin: 3px;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;

			.style--light & {
				background-color: darken(@color--light, 10%);
			}

			.style--accent & {
				background-color: darken(@color--accent, 10%);
			}

			.style--dark & {
				background-color: lighten(@color--dark, 15%);
			}

			&.selected {
				border: 0;
				background-color: @color-swatch3;
				width: 6px;
				height: 6px;

				.style--light & {
					background-color: @color--accent;
				}

				.style--accent & {
					background-color: @color--light;
				}

				.style--dark & {
					background-color: @color--accent;
				}
			}
		}
	}
}

// EMBEDS

.widget.embed .embed-default,
.widget .embed .embed-wrap {
	background: transparent;
	border: none;
	padding: 0;
	text-align: left;
}

.embed-content iframe {
	max-width: 100%;
}

// BLOG

.widget.blogpostlist .blog-post-item {
	padding: 30px;
	background-color: darken(@color-swatch1, 5%);
	border: 1px solid @color-swatch2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px; 
	border-radius: 3px;

	.style--light & {
		background-color: darken(@color--light, 5%);
		border-color: darken(@color--light, 10%);
	}

	.style--accent & {
		background-color: darken(@color--accent, 5%);
		border-color: darken(@color--accent, 10%);
	}

	.style--dark & {
		background-color: lighten(@color--dark, 5%);
		border-color: darken(@color--dark, 10%);
	}
}

.blog-post-feature-image-wrap {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 250px;
	max-width: 100%;
	margin-bottom: 20px;

	img {
		display: none;
	}
}

.blog-post-item {
	margin: 1.5em 0;
	padding-bottom: 1em;

	h2 {
		a {
			font-family: @font-swatch2-font-family;
			font-size: @font-swatch2-font-size;
			font-weight: @font-swatch2-font-weight;
			line-height: @font-swatch2-line-height;
			color: @font-swatch2-color;
			letter-spacing: @font-swatch2-letter-spacing;
			text-decoration: none;

			.style--light & {
				color: @contrast--light;
			}

			.style--accent & {
				color: @contrast--accent;
			}

			.style--dark & {
				color: @contrast--dark;
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.blog-post-metadata {
	background-color: transparent;
	background-image: none;
	margin-top: 0;
	text-align: left;
}

.blog-list-footer {
	background-color: transparent;
	background-image: none;
}

.blog-post-more-link {
	float: left;
	width: 100%;
}

// BLOG SEARCH

.blogsearch form {
	label {
		display: block;
		width: 100%;
		margin-bottom: .6em;
		font-family: @font-swatch4-font-family;
		font-size: @font-swatch4-font-size;
		font-weight: @font-swatch4-font-weight;
		line-height: @font-swatch4-line-height;
		color: @font-swatch4-color;
		letter-spacing: @font-swatch4-letter-spacing;

		.style--light & {
			color: @contrast--light;
		}

		.style--accent & {
			color: @contrast--accent;
		}

		.style--dark & {
			color: @contrast--dark;
		}
	}

	input {
		width: 70%;
		margin-right: 1%;
		flex-grow: 1;

		@media @mobile {
			margin-bottom: 10px;
			margin-right: 0;
			width: 100%;
		}

		.responsivecolumns & {
			margin-bottom: 10px;
			margin-right: 0;
			width: 100%;
		}
	}
}

// MENU

// Menu Sections

.widget.menusections {
	margin: 0 0 30px;

	ul {
		padding: 1em!important;
		text-align: center;

		li {
			@media @mobile {
				width: 100%;
				margin: 0;
			}
		}
	}

	a {
		color: @color-swatch4;

		&:hover {
			color: @color-swatch3;
			text-decoration: none;
		}
	}
}

// Main Menu

.widget.menu {
	.main.wrapper {
		width: 100%;
		margin: 0 0 2em;
		border-bottom: 1px solid @color-swatch2;
		padding-bottom: 30px;
	}

	.menu-header {
		margin-bottom: 30px;
	}

	.menu-name,
	.menu-description,
	.menu-note,
	.menu-subsection-name,
	.menu-subsection-description {
		text-align: center;
		padding-bottom: 0;
	}

	.menu-subsection {
		padding: 0;
	}

	.menu-item-image-wrap {
		background-image: none !important;

		img {
			max-height: 180px;
		}
	}
}

// Promoted Item

.widget.menusections ul {
	padding: 2em;
	border-top: 1px solid @color-swatch2;
	border-bottom: 1px solid @color-swatch2;
}

.menu .menu-items li.menu-item-promoted,
.menu-subsection-promoted {
	padding: 2em;
	background-color: darken(@color-swatch1, 5%);
	border: 1px solid @color-swatch2;
}

// Nutritional Info

.menu-item-nutritional-title {
	font-size: bkscale(@font-swatch5-font-size,0.8);
	letter-spacing: @font-swatch7-letter-spacing;
	text-transform: uppercase;
}

.menu-item-nutritional-prop {
	font-size: bkscale(@font-swatch5-font-size,0.8);
	line-height: bkscale(@font-swatch5-line-height,0.8);
	margin-bottom: 10px;
}

// Price

.standard-price {
	color: @font-swatch4-color;
	font-family: @font-swatch4-font-family;
	font-size: @font-swatch4-font-size;
	font-weight: @font-swatch4-font-weight;
	line-height: @font-swatch4-line-height;
	letter-spacing: @font-swatch4-letter-spacing;
}

// Dietary Icons

.menu .menu-section-item-dietary-props .dietary-icon {
	text-transform: uppercase;
	padding: 0 10px;
	background-color: @color-swatch1;
	color: @color-swatch3;
	font-family: @font-swatch7-font-family;
	font-size: 11px;
	font-weight: @font-swatch7-font-weight;
	line-height: @font-swatch7-line-height;
	letter-spacing: @font-swatch7-letter-spacing;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid lighten(@color-swatch3,15%);
}

// ECOMMERCE

.widget.ecomproductslist .ecom-productslist-products,
.widget.ecomfeaturedproducts .ecom-featuredproducts-wrap {
	display: flex;
	flex-wrap: wrap;
	margin-left: 0;
	max-width: none;

	@media @mobile {
		display: block;
	}

	// Filter

	.productlist-filter {
		margin-left: 0;
		width: 100%;
		margin-bottom: 60px;

		.productlist-display-form {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -10px;

			.form-group {
				display: flex;
				flex-grow: 1;
				padding: 0 10px 10px;
				margin: 0;
				width: 100%/3;

				@media @mobile {
					display: block;
					width: 100%;
					margin-bottom: 10px;
				}

				.responsivecolumns & {
					display: block;
					width: 100%;
					margin-bottom: 10px;
				}

				label {
					display: block;
					text-align: left;
				
					@media @mobile {
						text-align: left;
					}
				}

				&.productlist-search {
					width: 100%;
					margin-top: 1em;
					margin-bottom: 20px;
				
					@media @mobile {
						margin-top: 1.5em;
					}

					.responsivecolumns & {
						margin-top: 1.5em;
					}

					label {
						display: none;
					}

					input {
						width: 70%;
						margin-right: 1%;
						flex-grow: 1;
					
						@media @mobile {
							margin-bottom: 10px;
							margin-right: 0;
							width: 100%;
						}
					
						.responsivecolumns & {
							margin-bottom: 10px;
							margin-right: 0;
							width: 100%;
						}
					}

					.button {
						display: inline-block;
					}
				}
			}
		}
	}
}

// Product Item

.widget.ecomproductslist .ecom-productslist-product,
.widget.ecomfeaturedproducts .ecom-featuredproducts-product {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 60px;
	width: 100%/3;
	padding: 0 0.5em;

	@media @tablet {
		width: 100%/2;
		margin-right: 0;
	}

	@media @mobile {
		width: 100%;
		margin-right: 0;
	}

	.responsivecolumns & {
		width: 100%;
		margin-right: 0;
	}

	a {
		display: block;
		text-decoration: none;
	}
}

// Image

.widget.ecomproduct .ecom-product .ecom-product-preview-image-wrap {
	background-position: 0 3000%;
}

.widget.ecomproductslist .ecom-productslist-image-wrap,
.widget.ecomfeaturedproducts .ecom-featuredproducts-image-wrap {
	background-position: center;
	background-color: transparent;
	margin-bottom: 0;
	position: relative;
	overflow: visible;

	@media @mobile {
		height: 150px;
	}

	.responsivecolumns & {
		width: auto;
		margin-right: 0;
	}
}

// Title

.widget.ecomproductslist .ecom-productslist-title,
.widget.ecomfeaturedproducts .ecom-featuredproducts-title {
	font-size: bkscale(@font-swatch4-font-size, 1);
	color: @color-swatch3;
	border-bottom: 3px solid mix(@color-swatch2, @color-swatch1, 6%);
	padding: 0.5em 0;

	.style--light & {
		border-color: @color--light;
		color: @contrast--light;
	}

	.style--accent & {
		border-color: @color--accent;
		color: @contrast--accent;
	}

	.style--dark & {
		border-color: @color--dark;
		color: @contrast--dark;
	}
}

// Price

.widget.ecomproductslist .ecom-productlist-price {
	color: @color-swatch5;

	.style--light & {
		color: @contrast--light;
	}

	.style--accent & {
		color: @contrast--accent;
	}

	.style--dark & {
		color: @contrast--dark;
	}
}

.widget.ecomfeaturedproducts .ecom-featuredproducts-price {
	color: @color-swatch5;

	.style--light & {
		color: @color--accent;
	}

	.style--accent & {
		color: @contrast--accent;
	}

	.style--dark & {
		color: @color--accent;
	}
}

//  Basket Icon 

.widget.ecombasket {
	margin-bottom: 2em;

	.ecombasket-pull {
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	
		p, .basket-count {
			text-transform: uppercase;
			text-shadow: 0 1px 1px fade(@color-swatch7, 50%);
			font-family: @font-swatch7-font-family;
			color: @font-swatch7-color;
			font-size: @font-swatch7-font-size;
			line-height: @font-swatch7-line-height;
			font-weight: @font-swatch7-font-weight;
			padding: 0;
		} 
	}
}

//  Order Button 

.widget.ecomcheckout {
	.checkout-order-button {
		margin: 20px 0 20px 0;
		font-family: @font-swatch7-font-family;
		font-weight:@font-swatch7-font-weight;
		line-height: @font-swatch7-line-height;
		letter-spacing: @font-swatch7-letter-spacing;
		background-color: @font-swatch7-background-color;
		color: @font-swatch7-color;
		font-size: @font-swatch7-font-size;
		padding: 10px 16px;
		margin: 1em 0;
		border: none;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		box-shadow: 0 4px darken(@color-swatch3,15%);
		text-decoration: none;
		text-transform: uppercase;
		text-shadow: 0 1px 1px fade(@color-swatch7, 50%);
	}

	.delivery-price {
		line-height: 50px;
	}
}

// Product

.widget.ecomproduct .ecom-product .btn {
	font-family: @font-swatch7-font-family;
	font-weight:@font-swatch7-font-weight;
	line-height: @font-swatch7-line-height;
	letter-spacing: @font-swatch7-letter-spacing;
	background-color: @font-swatch7-background-color;
	color: @font-swatch7-color;
	font-size: @font-swatch7-font-size;
	padding: 10px 16px;
	margin: 1em 0;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 1px 1px fade(@color-swatch7, 50%);

	&:hover {
		background-color: @font-swatch7-background-color-hover;
		cursor: pointer;
	}
}

// Basket Summary

.widget.ecombasketsummary {

	// Title

	.basket-summary-title {
		border-bottom: 2px solid darken(@color-swatch1,10%);
	}

	// Empty basket

	.basket-summary-empty-copy {
		margin: 2em 0;
	}

	// Checkout Items

	table.basket-summary-items-table {
		margin-bottom: 30px;
		border-spacing: 0;
		width: 100%;

		tr {
			@media @mobile {
				display: block;
			}

			td, th {
				padding: 20px 0;
				border-bottom: none;

				@media @mobile {
					display: block;
					padding: 10px 0 0 0;
				}
			}
		}

		// Table Head

		tbody tr:first-child {
			@media @mobile {
				display: none;
			}

			th {
				border-bottom: 1px solid darken(@color-swatch1,10%);

				&:nth-child(2) {
					border-right: 0px darken(@color-swatch1,10%);
				}

			}
		}

		// Item

		tr.basket-summary-items {
			@media @mobile {
				position: relative;
				border-top: 1px darken(@color-swatch1,10%);
				padding: 0 0 10px 0;
				margin: 0 0 10px 0;
			}

			td {
				border-bottom: 1px darken(@color-swatch1,10%);
				
				@media @mobile {
					border-bottom: none;
				}
			}

			// Image

			td:nth-child(1) {
				@media @mobile {
					width: auto;
				}
				
				.image-wrap {
					width: 100%;
					height: 0;
					padding-bottom: 100%;
					float: none;
					background-size: cover;
					background-position: center;

					@media @mobile {
						padding-bottom: 0;
						height: auto;
						background-position: -1000px;
					}

					img {
						display: none;

						@media @mobile {
							display: block;
							width: 60%;
							height: auto;
						}
					}
				}
			}

			// Product info

			td:nth-child(2) {
				padding-left: 1em;
				padding-right: 170px;
				vertical-align: top;
				position: relative;

				@media @tablet{
					padding-right: 0;
					float: left;
				}

				@media @mobile {
					width: auto;
					padding-left: 0;
					border-right: none;
					float: none;
				}

				// Name
				
				.basket-summary-productname {
					font-size: @font-swatch4-font-size;
					display: block;

					@media @mobile {
						font-size: bkscale(@font-swatch4-font-size, 0.8);
					}
				}

				// Price

				.basket-summary-pricepu {
					font-size: @font-swatch4-font-size;
					
					@media @mobile {
						font-size: bkscale(@font-swatch4-font-size, 0.8);
					}
				}

				// Quantity label
				
				.basket-summary-quantity {
					width: 150px;
					position: absolute;
					right: 20px;
					display: block;
					top: 0px;
					height: 20px;
					line-height: 30px;
					text-align: center;
					font-size: bkscale(@font-swatch5-font-size, 0.8);

					@media @tablet {
						position: relative;
						right: 0;
						top: 0;
					}

					@media @mobile {
						width: 130px;
						height: 50px;
					}
				}

				// Quantity button

				.basket-summary-quantitybtn {
					background-color: transparent;
					margin: 0;
					position: absolute;
					width: 150px;
					height: 40px;

					@media @tablet {
						position: relative;
						right: 0;
						top: 0;
						float: right;
					}

					@media @mobile {
						height: 30px;
						width: 130px;
						float: none;
					}

					button {
						font-family: @font-swatch5-font-family;
						font-weight: 700;
						font-size: 16px;
						line-height: 40px;
						border: none;
						cursor: pointer;
						padding: 0;
						color: @color-swatch1;
						background-color: @color-swatch3;
						position: absolute;
						top: 0;
						width: 40px;
						height: 40px;

						@media @mobile {
							width: 30px;
							height: 30px;
							line-height: 30px;
						}

						&:hover {
							background-color: darken(@color-swatch3, 10%);
						}

						&.js-remove {
							left: 0;
						}
						&.js-add {
							right: 0;
						}
					}

					// Count

					span {
						background-color: darken(@color-swatch1, 6%);
						color: invert(@color-swatch2);
						height: 40px;
						line-height: 40px;
						position: absolute;
						left: 40px;
						right: 40px;
						text-align: center;
						top: 0;
						display: block;
						width: 70px;

						@media @mobile {
							height: 30px;
							line-height: 30px;
							left: 30px;
							right: 30px;
						}
					}
				}
			}

			td.basket-summary-amount {
				text-align: right;

				@media @mobile {
					text-align: left;
					position: absolute;
					right: 0;
					bottom: 10px;
				}
			}
		}

		// Sub Total

		tbody tr:last-child {
			td {
				font-size: @font-swatch4-font-size;
				border-top: 1px solid darken(@color-swatch1,10%);
				border-bottom: 2px solid darken(@color-swatch1,10%);

				@media @mobile {
					text-align: left;
					border-top: 0;
					border-bottom: 0;
					font-size: bkscale(@font-swatch4-font-size, 0.9);
				}

				&.basket-summary-subtotal {
					text-align: right;

					@media @mobile {
						border-top: 2px solid darken(@color-swatch1,10%);
						border-bottom: 2px solid darken(@color-swatch1,10%);
					}
				}
			}
		}
	}
	
	.basket-summary-legal-links {
		margin-top: 2em;
		list-style-type: none;
	}
}